[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
	shallow = true
[submodule "_build/dissect"]
	path = _build/dissect
	url = https://github.com/Shinmera/dissect
	shallow = true
[submodule "_build/trivial-custom-debugger"]
	path = _build/trivial-custom-debugger
	url = https://github.com/phoe/trivial-custom-debugger
	shallow = true
[submodule "_build/trivial-gray-streams"]
	path = _build/trivial-gray-streams
	url = https://github.com/trivial-gray-streams/trivial-gray-streams
	shallow = true
[submodule "_build/bordeaux-threads"]
	path = _build/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads
	shallow = true
[submodule "_build/global-vars"]
	path = _build/global-vars
	url = https://github.com/lmj/global-vars
	shallow = true
[submodule "_build/trivial-garbage"]
	path = _build/trivial-garbage
	url = https://github.com/trivial-garbage/trivial-garbage
	shallow = true
[submodule "_build/lisp-unit2"]
	path = _build/lisp-unit2
	url = https://github.com/AccelerationNet/lisp-unit2
	shallow = true